{%  extends "body.jinja2" %}
{% import 'buttons.jinja2' as html_buttons %}
{% block tab_content %}
    {% for tab in tabs %}
<div id="{{ tab.id }}" class="w3-container w3-display-container brf-tabspace brf-tabspace-{{ loop.index }}"
     style="{% if not loop.first %}display:none; {% endif %}min-height: 94%;">
    <div class="w3-cell-row w3-orange" style="width: {{ tab.width }}; margin: auto" >
        {# List #}
        {% for page_list in tab.pagelists %}
            <div class="w3-container w3-padding w3-cell">
                <div class="w3-card w3-white w3-padding">
                    {% for page_button in page_list.buttons %}
                            {{ html_buttons.url_button("w3-panel w3-green", page_button) | indent(32) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    {%  endfor %}
{%  endblock %}

